# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore some files when exporting.
# Only include the Mage folder when downloading from GitHub.
/**        export-ignore
/Mage    !export-ignore
/Mage/** !export-ignore
